
@media (max-width: 768px){
    .toggle{
        display: block;
        float: right;
    }
    .dropdown{
position: relative;
top: px;
right: 0px;
font-size: small;
    }
    .toggle button{
        height: 20%;
    }
    .nav{
        display: none;
    }
   
    .photoDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        place-items: center;
    }
    .sirketler{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hakkimizda{
        padding-right: 20px;
        padding-left: 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .hakkimizda2{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }
    .safety{
        width: 80%;
        margin-left: 10px;
        margin-right: 10px;
    }
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    .a{
        font-family: Dos;
    }
}

  
  
  
  


