@media (max-width: 780px){
    .toggle{
        display: block;
        /* float: right; */
    }
    .dropdown{
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0px;
    font-size: 15px;
    z-index: 10;
    } 
    .matrix-container {
        font-family: 'Courier New', monospace;
        color: green; 
        position: relative;
        z-index: 1;
      }
    .header-nav{
        display: flex;
        justify-content: space-between;
    }

    .animation {
        border: none;
    }

    .toggle button{
        height: 100%;
    }
    .nav{
        display: none;
    }
   .hizmetImg{
    width: 100%;
    display: grid;
    place-items: center;
   }
   .hizmetP{
    width: 100%;
   }
    .photoDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        place-items: center;
        height: 230px;
        padding-left: 20px;
    }
    .photoDivImg{
        display: flex;
        justify-content: center;
        place-items: center;
        height: 100%;
    }
    .sirketler{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hakkimizda{
      
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .hakkimizda2{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }
    .safety{
        width: 80%;
        margin-left: 10px;
        margin-right: 10px;
    }
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    .a{
        font-family: Dos;
    }
    .textAnimation{
        display: none;
    }
    .iletisim {
        display: flex;
        align-items: center;
    }
    .iletisimBtn {
        display: flex;
        align-items: center;
        justify-content: right;
    }
    .iletisim1 {
        
        width: 100%;
    }
    .sirketImg {
        padding-top: 10px;
        padding-right: 10px;
        padding-left: 10px;
        width: 100%;
    }
    .iletisimInput {
        display: flex;
        flex-direction: column;
        gap: 8px;
       
    }   
    
}
.text{
    font-size: 17px;
}

.menu-item {
    letter-spacing: 0.3em; /* Harfler arasında 0.5em boşluk */
  }

.menu-background {
    background-image: url("https://akarebilisim.com.tr/images/orta.jpg");

}

.matrix-container {
    font-family: 'Courier New', monospace;
    color: green; 
    
  }
  
  .matrix-row {
    animation: matrix-row-animation 5s linear infinite;
    display: flex;
  }
  
  @keyframes matrix-row-animation {
    0% { transform: translateY(100%); }
    100% { transform: translateY(-100%); }
  }
  
  .matrix-row span {
    margin-right: 5px;
  }

  
  
  
  


