@media (max-width: 780px){
    .toggle{
        display: block;
        float: right;
    }
    .dropdown{
position: relative;
top: px;
right: 0px;
font-size: small;
    }
    .toggle button{
        height: 20%;
    }
    .nav{
        display: none;
    }
   
    .photoDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        place-items: center;
        height: 230px;
        padding-left: 20px;
    }
    .photoDivImg{
        display: flex;
        justify-content: center;
        place-items: center;
        height: 50%;
    }
    .sirketler{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hakkimizda{
        padding-right: 20px;
        padding-left: 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .hakkimizda2{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }
    .safety{
        width: 80%;
        margin-left: 10px;
        margin-right: 10px;
    }
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    .a{
        font-family: Dos;
    }
}
.text{
    font-size: 17px;
}

.menu-item {
    letter-spacing: 0.3em; /* Harfler arasında 0.5em boşluk */
  }

.menu-background {
    background-image: url("https://akarebilisim.com.tr/images/orta.jpg");
}

.matrix-container {
    font-family: 'Courier New', monospace;
    color: green;
    /* Diğer stiller burada belirtilebilir */
  }
  
  .matrix-row {
    animation: matrix-row-animation 5s linear infinite;
    display: flex;
  }
  
  @keyframes matrix-row-animation {
    0% { transform: translateY(100%); }
    100% { transform: translateY(-100%); }
  }
  
  .matrix-row span {
    margin-right: 5px;
  }

  
  
  
  


